main {
    padding: 5vh;
    display: flex;
    justify-content: center;
}

form {
    width: 35vw;
    padding: 2vh;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    border-radius: 10px;
    border: 3px solid black;
    background-color: #d2ebcc;
}

form > h2 {
    padding: 0;
    margin: 0;
}

label, textarea {
    margin-bottom: 1vh;
}

textarea {
    width: 35vw;
    resize: none;
}


#name-surname-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#textarear-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#button-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 10vw;
}


@media screen and (max-width: 1024px) {

    form {
        width: 80vw;
    }

    form > h2 {
        padding-top: 0vh;
    }

    textarea {
        width: 80vw;
        height: 15vh;
        resize: none;
    }

    #name-surname-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-between;
    }

    #button-area {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    #button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 20vw;
    }
}
