html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden; 
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 15vh;    
    width: 100vw;

    display: flex;
    align-items: center;

    border-bottom: 0.4vh solid black;
}

a {
    color: black;
    text-decoration: none;
}


#logo {
    height: 15vh;
    margin-left: 2.5vw;
}

#title {
    font-size: 5vh;
    font-family: 'Rubik', sans-serif;
}

#menu {
    width: 89vw;
    margin-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#banner-container {
    width: 100vw;
    height: 84.6vh;
    position: relative;
}

#banner {
    width: 100vw;
    height: 84.6vh;
    object-fit: cover;
}

#banner-text-container {
    left: 0;
    top: 0;
    position: absolute;

    width: 100vw;
    height: 84.6vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


#banner-text-container > div > h1 {
    font-size: 15vh;
    font-family: 'Rubik', sans-serif;

    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    border-right: .10em solid black;
   
    animation: typing 3.5s steps(40, end), blink-cursor 1s step-end infinite;;
}

#mobile-menu-icon {
    display: none;
}

#arrow-container {
    height: 20vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

#round {
    height: 14vh;
    width: 14vh;
    border-radius: 50%;
    background-color: #73ab74;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.25s, width 0.25s;
}

#round:hover {
    height: 16vh;
    width: 16vh;
}

#round:active {
    height: 10vh;
    width: 10vh;
}

#arrow {
    height: 10vh;
    animation: jumping 0.5s infinite alternate;
}


.menu-item {
    height: 5vh;
    padding-left: 1vh;
    padding-right: 1vh;

    margin: 1vh;
    font-size: 3vh;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item:hover {
    font-weight: bold;
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-cursor {
    from { border-color: transparent }
    50% { border-color: black; }
}

@keyframes jumping {
    from {transform: translateY(0);}
    to {transform: translateY(1vh) }
}


@media screen and (max-width: 1024px) {

    nav {
        height: 11vh;
        transition: 1s;
    }


    #logo {
        height: 11vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    #banner-container {  
        height: 88.6vh;
    }
    
    #banner {
        height: 88.6vh;
    }
    
    #banner-text-container > div > h1 {
        font-size: 15vw;
        animation: none;
        border-right: none;
        white-space: pre-wrap;
    }

    #mobile-menu-icon { 
        height: 5vh;
        display: block;
        margin-left: auto;
        margin-right: 4vw;
    }

    #menu {
        display: none;
        flex-wrap: wrap;
        position: absolute;

        top: -8vh;
        height: 25vh;
        margin-top: 20vh;        
    }

    #round:hover {
        height: 14vh;
        width: 14vh;
    }

    .menu-item {
        width: 100vw;
        transition: 1s;
        margin-bottom: 0.5vh;
        justify-content: flex-start;
    }

    .menu-item > a::before {
        content: "- ";
    }

    .more-space {
        padding-bottom: 42vh;
    }   
}
