#big-title{
    font-size: 80px;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text{
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    flex-wrap: wrap;    
    padding: 2vh;
    margin: 2vh;
    font-size: 17px;
    border-top: rgb(219, 219, 219) solid 2px;
    max-width: 60vw;
    text-align: justify;
    line-height: 130%;
}

.small-title{
    font-size: 25px;
}

.logo-pic{
    height: 60px;
    width: auto;
    margin-right: 1vw;
}

@media screen and (max-width: 1024px) {

    .welcome-text{
        width: 80vw;
    }

    #big-title{
        font-size: 50px;
    }

    .item{
        max-width: 70vw;
        font-size: 20px;
        text-align: start;
    }
    .logo-pic{
        margin: 4vw;
    }
}