#forest-pic{
    height: 40vh;
    width: auto;
    order: -1;
    box-shadow: gray 5px 5px 3px;
}

#flag{
    height: 30vh;
    width: auto;
    order: 1;
    box-shadow: gray 5px 5px 3px;
}

#coffee{
    height: 30vh;
    width: auto;
    box-shadow: gray 5px 5px 3px;
}

.container{
    margin: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rse-text-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60vw;
}

.item{
    background-color: #413b35;
    margin: 3.5vh;
    padding: 2vh;
    color: white;
    border: black solid 2px;
    max-width: 40vw;
    box-shadow: gray 5px 5px 3px;
    text-align: justify;
}

.pic-text{
    display: flex;
    align-items: center;
}


@media screen and (max-width: 1024px) {

    body{
        font-size: 20px;
    }

    #forest-pic{
        height: 32vh;
    }

    .container{
        margin: 2vh;
    }
    .rse-text-container{
        width: 100vw;
    }

    .item{
        max-width: 80vw;
    }

    .pic-text{
        flex-direction: column;
    }
}