body {
    margin: 0;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    background-color: #f4f4ec;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
    margin-top: 5vh;
    font-size: 4em;

    text-align: center;
    font-family: 'Sora', sans-serif;
} 

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

nav {
    height: 15vh;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

ul {
    margin: 0;
    margin-top: 1vh;
}

li {
    margin-top: 0.5vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10vh;
}

#left-container {
    height: 100vh;
    width: 25vw;
    padding: 1vw;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;

    background-color: #1c5c7c;
}

#left-container > * {
    animation: 1s slide-from-left;
}

#round-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 28vh;
    width: 28vh;
    margin-top: 3vh;
    background-color: #f4f4ec;

    border-radius: 50%;
    padding: 0.1vh;
}

#profile-picture {
    height: 26vh;
    border-radius: 50%;
}

#name {
    color: white;
    margin-top: 1vh;
    font-family: "Sora", sans-serif;
}

#right-side {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.is-sliding-from-top {
    animation:1s slide-from-top;
}

.left-container-text {
    color: white;
    text-align: justify;

    margin-top: 3vh;
}

.left-container-text > h2 {
    font-size: 1.5em;
    font-family: "Sora", sans-serif;
}

.left-container-text > p, .left-container-text > span, .left-container-text > ul {
    font-family: "Roboto", sans-serif;
}

.main-container {
    width: 50vw;
    padding: 1vw;
    margin-top: 4vh;

    border: 2px solid black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.main-container > h2, .main-container >h3 {
    font-family: "Sora", sans-serif;
}

.main-container > ul {
    font-family: "Roboto", sans-serif;
}


@keyframes slide-from-top {
    
    from {
        opacity: 0;
        transform: translateY(-30vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-from-left {
    
    from {
        opacity: 0;
        transform: translateX(-20vh);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 700px) { 

    body {
        flex-wrap: wrap;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    h1 {
        font-size: 2em;
        text-align: center;
        font-family: 'Sora', sans-serif;
    } 

    nav {
        height: auto;
    }

    #left-container {
        width: 98vw;
        padding: 3vh;
    }

    #left-container > * {
        animation: 1s slide-from-top;
    }

    #right-side {
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #round-container {
        margin-top: 0;
    }
    
    .main-container {
        width: 80vw;
    }

    

}
