body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    font-family: Helvetica; 
    background-color: #2980b9;
}

h1 {
    width: 100%;
    font-size: 8vh;
    text-align: center;
}

h2 {
    font-size: 4vh;
    margin-top: 0;
}

form, #table-container {
    width: 50vw;
 
    padding: 2vw;
    margin-bottom: 5vh;
    border: 2px solid black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: #f4f4ec;
    
    background-color: white;
}

form > div {
    margin-top: 1vh;
}

input[type="submit"] {
    margin-top: 1vh;
}

body > * {
    animation: 1s appearance;
}

table {
    width: 50vw;
    margin-bottom: 2vh;
    border-collapse: collapse;
}

td {
    max-width: 20vw;
    padding: 1vh 1vh;
    border: 1px solid black;
}


.hash-div {
    width: 100%;
    overflow-x: scroll;
}


@keyframes appearance {
    from {
        opacity: 0;
        transform: translateY(10vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1024px) { 

    h1 {
        font-size: 4vh;
        padding-left: 4vh;
        padding-right: 4vh;
    }

    form, #table-container {
        width: 85vw;
        overflow: scroll;
    }

    td {
        width: auto;
        max-width: 25vw;
    }

}
